.buildtt {
  display: flex;
  height: 100%;
  margin-left: 2rem;
  position: relative;
}
@media print {
  .buildtt__settings {
    display: none;
  }
}
.buildtt__settings {
  flex-basis: max-content;
  left: 1rem;
  position: sticky;
  z-index: 1000;
  padding: 0.5rem;
  padding-left: 0rem;
  padding-right: 1rem;
  margin-left: -1rem;
  filter: drop-shadow(0.2rem 0 0.4rem rgba(0, 0, 0, 0.5));
}
.buildtt__info {
  position: fixed;
  top: 5rem;
  left: 50%;
  width: 35rem;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem 2rem;
  background-color: white;
  border: 0.3rem solid red;
  z-index: 10000;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0.2rem 0 0.4rem rgba(0, 0, 0, 0.5);
}
@media print {
  .buildtt__info {
    position: absolute;
  }
}
.buildtt__display {
  position: sticky;
  top: 0rem;
  flex: 1;
  padding: 1rem 2rem;
}
.buildtt__tt {
  display: flex;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  height: 100%;
}
.buildtt__col {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}
.buildtt__col--narrow {
  flex: 0 0 12rem;
}
.buildtt__col--normal {
  flex: 1;
}
.buildtt__paste {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.buildtt__paste img {
  width: 5rem;
  height: 5rem;
  filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(334deg) brightness(112%) contrast(101%);
  transition: all 0.2s;
}
.buildtt__paste img:hover {
  cursor: pointer;
  transform: scale(1.4);
}
.buildtt__block {
  position: relative;
  background-color: lightcoral;
  border-radius: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0.1rem solid black;
  transition: all 0.2s;
}
@media print {
  .buildtt__block {
    overflow: auto;
  }
}
@media print {
  .buildtt__block {
    background-color: none;
    display: grid;
    grid-template: max-content 1fr/1fr max-content;
  }
  .buildtt__block__paste {
    display: none;
  }
}
.buildtt__block:hover {
  background-color: lightskyblue;
}
.buildtt__block--title {
  min-width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 1rem;
}
.buildtt__block--tbTitle button {
  margin-left: 0.5rem;
}
.buildtt__block--textInput {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.buildtt__block--textInput--text {
  font-weight: bold;
}
.buildtt__block--textInput--input {
  margin-left: 1rem;
}
.buildtt__block--block {
  min-width: 30rem;
}
.buildtt__block--short {
  flex: 0 0 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding-right: 0.5rem;
}
.buildtt__block--missingStudents {
  height: -moz-max-content;
  height: max-content;
  max-height: 25%;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.buildtt__block--normal {
  flex: 1;
}
@media print {
  .buildtt__block--normal {
    flex-basis: max-content;
  }
}
.buildtt__block--name, .buildtt__block--room {
  padding: 0.5rem 1rem;
}
.buildtt__block--name {
  position: sticky;
  top: 0;
  background-color: #4E82A3;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buildtt__block--name img {
  height: 1rem;
  width: 1rem;
  filter: invert(100%) sepia(1%) saturate(2%) hue-rotate(334deg) brightness(112%) contrast(101%);
  transition: all 0.2s;
}
.buildtt__block--name img:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@media print {
  .buildtt__block--name {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.buildtt__block--room {
  background-color: #67BBF0;
  color: black;
  font-size: 1rem;
  font-style: italic;
}
@media print {
  .buildtt__block--room {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.buildtt__block--courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.buildtt__block--course {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.4);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  min-width: 45%;
  margin-bottom: 0.2rem;
}
.buildtt__block--course:not(:last-of-type) {
  cursor: pointer;
}
.buildtt__block--course--name {
  flex: 1;
  font-size: 1rem;
  margin-right: 0.5rem;
  align-self: flex-start;
  text-align: left;
}
.buildtt__block--course button {
  font-size: 0.8rem;
}
.buildtt__block--restriction {
  width: 100%;
}
.buildtt__block--restriction select {
  margin: 0 0.5rem;
}
.buildtt__block--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.3rem;
}
.buildtt__block--button {
  padding: 0.3rem 0.5rem;
  width: auto;
  border-radius: 0.5rem;
  transition: all 0.2s;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.5);
}
.buildtt__block--button--selected {
  background-color: rgba(103, 187, 240, 0.8);
}
.buildtt__block--button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.buildtt__block--data {
  padding: 0.2rem 0.3rem;
}
.buildtt__block--students {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  row-gap: 0.1rem;
  -moz-column-gap: 0.1rem;
       column-gap: 0.1rem;
  font-size: 1rem;
}
@media print {
  .buildtt__block--students {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.buildtt__block--student {
  background-color: lightcoral;
  border-radius: 0.5rem;
  padding: 0.2rem 0.3rem;
  border: 0.2rem dashed transparent;
}
.buildtt__block--student--highlight {
  background-color: yellow !important;
}
.buildtt__block--student--prio {
  border: 0.2rem solid red;
  background-color: white;
}
.buildtt__block--student--locked {
  background-color: black;
  color: white;
}
.buildtt__block--student:hover {
  cursor: grab;
  border: 0.2rem dashed rgba(0, 0, 0, 0.5);
}
.buildtt__block--student:active {
  background-color: white;
  transform: scale(1.3);
}
.buildtt__switch {
  font-size: 1.2rem;
}
.buildtt__switch:hover {
  cursor: pointer;
}

.cdk-drop-list-receiving, .cdk-drop-list-dragging {
  background-color: white;
}