<div class="structure__background"></div>
<div class="structure">
  <header>

    <select (change)="loadTimetable($event)">
      <option selected disabled>Choose your timetable</option>
      <option value="{{ timetable.id }}" *ngFor="let timetable of timetables">{{ timetable.name }}</option>
    </select>

    <nav>
      <a routerLink="timetables">Timetables</a>
      <a routerLink="students" *ngIf="loadedTimetable">Student Data</a>
    </nav>
    <div class="dashboard__logo">The PE Thing</div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="footer">
      Made by and Copyright to <a href="mailto:alex.bunting@gmail.com">Alex Bunting</a>, 2023
    </div>
  </footer>
</div>
