<div class="structure__background"></div>
<div class="structure">
  <header>
    <nav>
      <a routerLink="timetables">Timetables</a>
      <a routerLink="csv">Import CSV Data</a>
      <a routerLink="students">Student Data</a>
    </nav>
    <div class="dashboard__logo">The PE Thing</div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="footer">
      Made by and Copyright to <a href="mailto:alex.bunting@gmail.com">Alex Bunting</a>, 2023
    </div>
  </footer>
</div>
