.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, lightcoral, #009879);
  filter: drop-shadow(.2rem 0 .4rem black);
  clip-path: polygon(8% 27%, 19% 33%, 33% 33%, 41% 28%, 50% 16%, 60% 9%, 77% 3%, 91% 6%, 98% 14%, 99% 28%, 99% 45%, 95% 68%, 92% 87%, 83% 93%, 72% 93%, 69% 85%, 64% 73%, 52% 60%, 43% 76%, 29% 68%, 18% 59%, 11% 50%, 3% 49%, 0% 50%, 0% 27%);
  z-index: -1;
}
