.login {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  row-gap: 1rem;
  padding: 2rem;

  &__error {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    border-radius: .1rem solid black;
  }

  &__error {
    background-color: lightcoral;
  }

  &__text {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
  }

  &__input {

    &--text, &--button {
      padding: 1rem 2rem;
      font-size: 1.6rem;
      border-radius: 1rem;
      width: 100%;
      transition: all .3s;
    }

    &--text {
    }

    &--button {
      &:hover {
        cursor: pointer;
        background-color: lightcoral;
      }
    }
  }
}
