<div class="ttbuilder">

  <div class="ttbuilder__row">
    <div class="ttbuilder__row--text">
      <p>Timetable Name</p>
      <div class="ttbuilder__row--desc">The name given to this timetable</div>
    </div>
    <div class="ttbuilder__row--input">
      <input type="text" class="input__text" [(ngModel)]="timeTable.name">
    </div>
  </div>

  <div class="ttbuilder__row">
    <div class="ttbuilder__row--text">
      <p>Scheudle</p>
      <div class="ttbuilder__row--desc">The actual schedule the students need to follow</div>
    </div>
    <div class="ttbuilder__row--input ttbuilder__row--input--col">
      <div class="ttbuilder__row">
        <div class="ttbuilder__row--text">Number of Blocks</div>
        <div class="ttbuilder__row--input">
          <select class="input__select" (change)="setNumberOfTimeBlocks($event)">
            <option value="1" [selected]="1 === timeTable.schedule.blocks.length">1</option>
            <option value="2" [selected]="2 === timeTable.schedule.blocks.length">2</option>
            <option value="3" [selected]="3 === timeTable.schedule.blocks.length">3</option>
            <option value="4" [selected]="4 === timeTable.schedule.blocks.length">4</option>
            <option value="5" [selected]="5 === timeTable.schedule.blocks.length">5</option>
            <option value="6" [selected]="6 === timeTable.schedule.blocks.length">6</option>
            <option value="7" [selected]="7 === timeTable.schedule.blocks.length">7</option>
            <option value="8" [selected]="8 === timeTable.schedule.blocks.length">8</option>
            <option value="9" [selected]="9 === timeTable.schedule.blocks.length">9</option>
            <option value="10" [selected]="10 === timeTable.schedule.blocks.length">10</option>
          </select>
        </div>
      </div>

      <div class="ttbuilder__row ttbuilder__row--input--row" *ngFor="let block of timeTable.schedule.blocks; let i = index">
        <input class="input__text input__length--medium" [(ngModel)]="block.name">
        <!-- is order change required? -->
        <!-- <select class="input__select" (change)="setTimeBlockOrder($event, i)">
          <option value="{{ o }}" [selected]="singleBlock.order === o" *ngFor="let singleBlock of timeTable.schedule.blocks; let o = index">{{ o + 1 }}</option>
        </select> -->
      </div>
    </div>
  </div>

  <div class="ttbuilder__row">
    <div class="ttbuilder__row--text">
      <p>Restrictions</p>
      <div class="ttbuilder__row--desc">The things you need to know about the student, such as priorities or gender</div>
    </div>
    <div class="ttbuilder__row--input ttbuilder__row--input--col">
      <button class="input__button input__length--long" (mouseup)="addNewRestriction()">Add New Restriction</button>
      <div class="ttbuilder__row ttbuilder__row--input--col ttbuilder__row--color--each" *ngFor="let restriction of timeTable.restrictions; let i = index">
        <div class="ttbuilder__row--input ttbuilder__row--input--row">
          <button class="input__button input__length--veryshort" (click)="deleteRestriction(i)">X</button>
          <input type="text" class="input__text" [(ngModel)]="restriction.name" placeholder="restriction name">
          <input type="text" class="input__text input__length--long" [(ngModel)]="restriction.description" placeholder="restriction description">
          <input type="checkbox" [(ngModel)]="restriction.optionsAreClasses">Are the options classes?
          <select class="input__select input__length--medium" (change)="selectPrioity(i, $event)">
            <option selected disabled>Priority</option>
            <option value="0" [selected]="restriction.priority === 0">0 (Critial)</option>
            <option value="1" [selected]="restriction.priority === 1">1 (Highest)</option>
            <option value="2" [selected]="restriction.priority === 2">2</option>
            <option value="3" [selected]="restriction.priority === 3">3</option>
            <option value="4" [selected]="restriction.priority === 4">4</option>
            <option value="5" [selected]="restriction.priority === 5">5</option>
            <option value="6" [selected]="restriction.priority === 6">6</option>
            <option value="7" [selected]="restriction.priority === 7">7</option>
            <option value="8" [selected]="restriction.priority === 8">8</option>
            <option value="9" [selected]="restriction.priority === 9">9</option>
            <option value="10" [selected]="restriction.priority === 10">10 (Lowest)</option>
          </select>
        </div>
        <div class="ttbuilder__row--input ttbuilder__row--input--row">
          <button class="input__button input__length--long" (click)="addOption(i)">Add Option</button>
          <div *ngFor="let option of restriction.options; let o = index">
            <input type="text" class="input__text input__length--medium"  [(ngModel)]="option.value">
            <button class="input__button input__length--veryshort" (click)="deleteOption(i, o)">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ttbuilder__row">
    <div class="ttbuilder__row--text">
      <p>Classes</p>
      <div class="ttbuilder__row--desc">The classes, mostly auto generated here</div>
    </div>
    <div class="ttbuilder__row--input ttbuilder__row--input--col">

      <div class="ttbuilder__classNumber">
        <select class="input__select" (change)="changeClassNumber($event)">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <div class="ttbuilder__row" *ngFor="let class of timeTable.classes; let i = index">
          <div class="ttbuilder__row--text">Class {{ i+1 }}</div>
          <div class="ttbuilder__row--input ttbuilder__row--input--row">
            <input type="text" class="input__text" value="" placeholder="teacher name" [(ngModel)]="class.teacher">
            <select class="input__select input__length--short" (change)="selectClassSize($event, i)">
              <option value="1" [selected]="1 === getClassSize(class.id)">1</option>
              <option value="2" [selected]="2 === getClassSize(class.id)">2</option>
              <option value="3" [selected]="3 === getClassSize(class.id)">3</option>
              <option value="4" [selected]="4 === getClassSize(class.id)">4</option>
              <option value="5" [selected]="5 === getClassSize(class.id)">5</option>
              <option value="6" [selected]="6 === getClassSize(class.id)">6</option>
              <option value="7" [selected]="7 === getClassSize(class.id)">7</option>
              <option value="8" [selected]="8 === getClassSize(class.id)">8</option>
              <option value="9" [selected]="9 === getClassSize(class.id)">9</option>
              <option value="10" [selected]="10 === getClassSize(class.id)">10</option>
              <option value="11" [selected]="11 === getClassSize(class.id)">11</option>
              <option value="12" [selected]="12 === getClassSize(class.id)">12</option>
              <option value="13" [selected]="13 === getClassSize(class.id)">13</option>
              <option value="14" [selected]="14 === getClassSize(class.id)">14</option>
              <option value="15" [selected]="15 === getClassSize(class.id)">15</option>
              <option value="16" [selected]="16 === getClassSize(class.id)">16</option>
              <option value="17" [selected]="17 === getClassSize(class.id)">17</option>
              <option value="18" [selected]="18 === getClassSize(class.id)">18</option>
              <option value="19" [selected]="19 === getClassSize(class.id)">19</option>
              <option value="20" [selected]="20 === getClassSize(class.id)">20</option>
              <option value="21" [selected]="21 === getClassSize(class.id)">21</option>
              <option value="22" [selected]="22 === getClassSize(class.id)">22</option>
              <option value="23" [selected]="23 === getClassSize(class.id)">23</option>
              <option value="24" [selected]="24 === getClassSize(class.id)">24</option>
              <option value="25" [selected]="25 === getClassSize(class.id)">25</option>
            </select>
            Students total
          </div>


      </div>

    </div>
  </div>

  <div class="ttbuilder__row">
    <div class="ttbuilder__row--text">
      <p>Save</p>
      <div class="ttbuilder__row--desc">Save the class to memory to reuse for testing</div>
    </div>
    <div class="ttbuilder__row--input">
      <button class="input__button input__length--long" (click)="save()">Save to memory</button>
    </div>
  </div>

</div>
