<div class="structure__background"></div>
<app-small-loader *ngIf="loading"></app-small-loader>

<div class="structure">
  <header>

    <div class="controls">
      <select (change)="loadTimetable($event)">
        <option [selected]="!loadedTimetable" disabled>Choose your timetable</option>
        <option value="{{ timetable.id }}" *ngFor="let timetable of timetables" [selected]="loadedTimetable ? loadedTimetable.id === timetable.id : false">{{ timetable.name }}</option>
      </select>
      <div class="controls__icon" (click)="createNewTimetable()" [tooltip]="'Create blank timetable'"><img src="../assets/icons/file-empty.png" alt="Create Blank Timetable"></div>
      <div class="controls__icon" (click)="createDuplicateTimetable()" *ngIf="loadedTimetable" [tooltip]="'Create duplicate of this timetable'"><img src="../assets/icons/copy.png" alt="Duplicate Current Timetable"></div>
      <div class="controls__icon" (click)="deleteTimetable()" *ngIf="loadedTimetable" [tooltip]="'Delete this timetable'"><img src="../assets/icons/bin2.png" alt="Delete Current Timetable"></div>
      <div class="controls__icon" (click)="saveTimetable()" *ngIf="loadedTimetable" [tooltip]="'Save this timetable'"><img src="../assets/icons/floppy-disk.png" alt="Save Current Timetable"></div>
    </div>

    <nav>
      <a routerLink="timetables" routerLinkActive="link__active" *ngIf="loadedTimetable">Timetable</a>
      <a routerLink="students" routerLinkActive="link__active" *ngIf="loadedTimetable">Student Data</a>
    </nav>
    <div class="controls__right">
      <div class="controls__icon" (click)="toggleUserMenu($event)"><img src="../assets/icons/user.png" alt="User Menu"></div>
      <div class="dashboard__logo">ClassCraft</div>

      <div class="menu" id="usermenu" *ngIf="userMenuOpened">
        <div class="menu__name">Hello {{ authService.forename }}</div>
        <div class="menu__button" (click)="logout()">Logout</div>
      </div>
    </div>
  </header>

  <main>
    <router-outlet *ngIf="!createNew"></router-outlet>
    <app-select-timetable-type *ngIf="createNew" (killMenu)="newTimetableCreated($event)"></app-select-timetable-type>
  </main>

  <footer>
    <div class="footer">
      Made by and Copyright to <a href="mailto:alex.bunting@gmail.com">Alex Bunting</a>, 2023
    </div>
  </footer>
</div>

