<div class="welcome">

    <input type="checkbox" class="welcome__hidden welcome__showLogin" id="loginButton">

    <label for="loginButton" class="welcome__button">
        <img src="../../assets/icons/enter.png" alt="Log In">

        <div class="welcome__login">
            <app-login></app-login>
        </div>
    </label>

    <div class="welcome__one" id="one">

        <div class="welcome__one--logo">
            <img src="../../assets/logo.png" alt="SmartSort Logo">
        </div>

        <div class="welcome__one--desc">
            A lightweight school centered scheduler
        </div>
        
    </div>
    
    <div class="welcome__two" id="two">
        
        <div class="welcome__two--text">
            SmartSort is a lightweight school centered scheduler, used for helping quickly create ideal class configurations, rooming choices or class groupings based entirely upon student preference.
        </div>
        <div class="welcome__two--video">
            <iframe src="https://www.youtube-nocookie.com/embed/BS6_vDfA_Ec?si=g8xEPViG9Di27aNI&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        
    </div>

    <div class="welcome__three" id="three">
        
        <div class="welcome__three--mailingForm">
            <app-mailing-list></app-mailing-list>
        </div>
        <div class="welcome__three--textMailing">
            Keep up with what SmartSort is doing by joining the mailing list. This is a very low frequency list so dont worry about receiving lots of mail from us!
        </div>
        <div class="welcome__three--questionForm">
            <app-register></app-register>
        </div>
        <div class="welcome__three--textQuestion">
            If you want to get in contact, to enquire about features, prices or how SmartSort might be a useful tool for you, please use the form opposite to contact me and I will reply as soon as possible.
        </div>
        
    </div>
    
    <div class="welcome__four" id="four">
        
        <div class="welcome__four--text">
            If you want a quote or to sign up to SmartSort, please fill in the form below. Registered schools get access for all staff, from head of school to support staff, for one calendar year.
        </div>

        <div class="welcome__four--form">
            <app-interest></app-interest>
        </div>
        
    </div>

    <div class="welcome__footer" id="footer">
        
        <div class="welcome__footer--text">
            SmartSort is copyright Alex Bunting 2023. If you wish to contact me you can email me at alex.bunting@gmail.com.
        </div>

        <div class="welcome__footer--links">
            <a href="">Privacy Policy</a>
            <a href="">Terms and Conditions</a>
            <a href="#three">Contact Me</a>
        </div>
        
    </div>

</div>

