.studentData {
    padding: 2rem 4rem;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 3rem;
        background-color: rgba(lightgrey, .6);
        padding: .5rem 1rem;
        border-radius: 1rem;
    }

    &__add {
        padding: 1rem 2rem;
        background-color: #009879;
        font-size: 1.6rem;
        transition: all .2s;
        border-radius: 1rem;
        box-shadow: .2rem 0 .4rem rgba(black, .5);
        color: white;

        &:hover {
            cursor: pointer;
            filter: brightness(1.2);
        }
    }

    &__import {
        &--title {
            font-size: 2rem;
        }

        &--box {
            display: flex;
            column-gap: 1rem;
            justify-content: space-between;
            align-items: stretch;
        }

        &--instructions {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            img {
                filter: drop-shadow(.2rem 0 .4rem rgba(black, .5));

                &:first-of-type { margin-bottom: 1rem; }
                max-width: 100%;
                border-radius: 1rem;
            }
        }

        &--drop {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            color: white;
            font-weight: bold;
            background-color: #009879;
            border-radius: 1rem;
            margin-top: .5rem;
            box-shadow: .2rem 0 .4rem rgba(black, .5);
        }
    }

    table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        // min-width: 40rem;
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        thead {
            position: sticky;
            top: 0;
        }

        thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        th {
          text-decoration: underline;
          transition: all .2s;

          &:hover {
            cursor: pointer;
          }
        }

        th, td {
            padding: 1.2rem .75rem;
            text-align: center;
            font-size: 1.2rem;
        }

        tbody, tr {
            border-bottom: 1px solid #dddddd;
        }

        tbody tr {
            &:hover {
                color: #009879;
            }
        }

        tbody tr:nth-of-type(even) {
            background-color: rgba(#f3f3f3, .4);
        }

        tbody tr:nth-of-type(odd) {
            background-color: rgba(#f3f3f3, .8);
        }

        tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
    }

    &__newRow {
      background-color: lightcoral !important;
    }

    &__random {
      padding: .5rem 1rem;
      border-radius: 1rem;
      font-size: 1.4rem;
      width: 30rem;
      margin-left: 2rem;
      justify-self: flex-start;
    }

    &__none {
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &--instructions, &--info {
        text-align: center;
        width: 50rem;
      }

      &--instructions {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      &--info {
        font-size: 1.6rem;
      }
    }
}
