.studentData {
    padding: 2rem 4rem;

    &__title {
        font-size: 3rem;
    }

    table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        thead {
            position: sticky;
            top: 0;
        }

        thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        th, td {
            padding: 12px 15px;
            text-align: center;
            font-size: 1.2rem;
        }

        tbody, tr {
            border-bottom: 1px solid #dddddd;
        }

        tbody tr {
            &:hover {
                color: #009879;
            }
        }

        tbody tr:nth-of-type(even) {
            background-color: rgba(#f3f3f3, .4);
        }

        tbody tr:nth-of-type(odd) {
            background-color: rgba(#f3f3f3, .8);
        }

        tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
    }
}
