<div class="studentData">

    <div class="studentData__title">
        <p>Student Data</p>
        <select class="input__select studentData__random" (change)="generateRandomData($event)" *ngIf="loadedTimetable.students.length === 0" [tooltip]="'This will generate some sample data for you to practice using the timetabler'">
            <option disabled selected>Generate Random Sample Data</option>
            <option value="1" *ngIf="loadedTimetable.sortMethod === 1">Student Priority Data (Group of 90, Ex: Rooming)</option>
            <option value="2" *ngIf="loadedTimetable.sortMethod === 1">Student Priority Data (Class of 21, Ex: Class Group)</option>
            <option value="0" *ngIf="loadedTimetable.sortMethod === 0">Course Priority Data (Class of 100)</option>
        </select>
        <div class="studentData__buttons">
          <div class="studentData__add" (click)="addStudentToggle()">Add Student</div>
          <div class="studentData__add" (click)="toggleTsvData()">Upload from TSV</div>
        </div>

    </div>


    <div class="studentData__import" *ngIf="addTsvData">
        <div class="studentData__import--box">
            <div class="studentData__import--drop" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
              <p>Drop a TSV file here to import</p>
              <div class="studentData__import--errors" *ngIf="tsvError.length > 0">
                <div class="studentData__import--error" *ngFor="let e of tsvError">{{ e }}</div>
              </div>
            </div>
            <div class="studentData__import--instructions">
                <img src="../../../assets/help/tsv/tsv_basic.jpg" alt="How to TSV Step 1">
                <img src="../../../assets/help/tsv/howToCsv2-2.jpg" alt="How to TSV Step 2">
            </div>
        </div>
    </div>

    <div class="studentData__none" *ngIf="loadedTimetable.students.length === 0 && !newStudent">
      <div class="studentData__none--instructions">There is currently no student data - click the 'Add Student' button in the top right to add a new student.</div>
      <div class="studentData__none--info" *ngIf="loadedTimetable.sortMethod === 0">Note that because you are asking students what classes they want to be in, you do not need to fill this out in advance. Just ensure your courses are set up <a [routerLink]="['/timetables']">here</a> and send the link out to your classes.</div>
      <div class="studentData__none--info" *ngIf="loadedTimetable.sortMethod === 1">As you are asking students to choose who they want to work with, you must have at least the names of all students who will fill in the form. Any students not added will not be able to be chosen by other students (though will still be able to fill in the form themselves).</div>
    </div>

    <table *ngIf="loadedTimetable">
        <thead *ngIf="loadedTimetable.students.length > 0 || newStudent">
            <tr>
                <th rowspan="2">Actions</th>
                <th rowspan="2" (click)="sortByForeName()">Forename</th>
                <th rowspan="2" (click)="sortBySurname()">Surname</th>
                <th rowspan="2" (click)="sortByEmail()">Email</th>
                <th rowspan="2" (click)="sortByTeacher()" *ngIf="loadedTimetable.classes.length > 0">Teacher</th>

                <th rowspan="2" *ngFor="let restriction of loadedTimetable.restrictions" (click)="sortByRestriction(restriction.id)">
                    {{ restriction.name }}
                </th>

                <th rowspan="1" [attr.colspan]="getOptionalUnits().length" *ngIf="loadedTimetable.sortMethod === 0">Course Priority</th>
                <th rowspan="1" [attr.colspan]="loadedTimetable.studentPriorityCount" *ngIf="loadedTimetable.sortMethod === 1">Student Priority</th>
            </tr>
            <tr *ngIf="loadedTimetable.sortMethod === 0">
                <th *ngFor="let course of getOptionalUnits(); let i = index" (click)="sortByPriority(i+1)">{{ i + 1 | ordinal  }}</th>
            </tr>
            <tr *ngIf="loadedTimetable.sortMethod === 1">
                <th *ngFor="let stud of getStudentPriorityList(loadedTimetable.studentPriorityCount); let i = index" (click)="sortByStudentPriority(i+1)">{{ i + 1 | ordinal }}</th>
            </tr>
        </thead>

        <!-- add new sdtuents row -->
        <!-- all added students row -->
        <tbody>
            <tr *ngIf="newStudent" class="studentData__newRow">
                <td>
                    <button class="input__button input__length--veryshort" (click)="deleteNewStudent()" [tooltip]="'Delete New Student'"><img src="../../../assets/icons/cross.png" alt="Delete"></button>
                    <button class="input__button input__length--veryshort" (click)="submitNewStudent()" [tooltip]="'Add New Student'"><img src="../../../assets/icons/checkmark.png" alt="Insert"></button>
                </td>
                <td><input type="text" class="input__text input__length--medium" [(ngModel)]="newStudent.name.forename"></td>
                <td><input type="text" class="input__text input__length--medium" [(ngModel)]="newStudent.name.surname"></td>
                <td><input type="text" class="input__text input__length--medium" [(ngModel)]="newStudent.email"></td>
                <td *ngIf="loadedTimetable.classes.length > 0">
                    <select class="input__select input__length--medium">
                        <option value="{{ class.id }}" *ngFor="let class of loadedTimetable.classes" [selected]="class.id === newStudent.classId">{{ class.teacher }}</option>
                    </select>
                </td>
                <td *ngFor="let restriction of loadedTimetable.restrictions">
                    <select class="input__select input__length--short" (change)="modifyDataValue(newStudent, restriction.id, $event)">
                        <option value="{{ option.id }}" *ngFor="let option of restriction.options" [selected]="getStudentRestrictionData(newStudent, restriction).id === option.id">{{ option.value }}</option>
                    </select>
                </td>
                <ng-container *ngIf="loadedTimetable.sortMethod === 0">
                  <td *ngFor="let course of getOptionalUnits(); let priority = index">
                      <select class="input__select input__length--medium" (change)="changeCoursePriority(newStudent, priority + 1, $event)">
                          <option value="{{ course.id }}" *ngFor="let course of getOptionalUnits(); let i = index" [selected]="getStudentPriorityData(newStudent, priority + 1) === course.id">{{ course.name }}</option>
                      </select>
                  </td>
                </ng-container>
                <ng-container *ngIf="loadedTimetable.sortMethod === 1">
                  <td *ngFor="let stud of getStudentPriorityList(loadedTimetable.studentPriorityCount); let priority = index">
                      <select class="input__select input__length--medium" (change)="changeStudentPriority(newStudent, priority + 1, $event)">
                          <option value="-1">-- No Preference --</option>
                          <option value="{{ studentListing.id }}" *ngFor="let studentListing of loadedTimetable.students; let i = index" [selected]="getStudentStudentPriorityData(newStudent, priority + 1) === studentListing.id" [disabled]="alreadySelected(newStudent, studentListing.id) || studentListing.id === newStudent.id">{{ studentListing.name.forename }} {{ studentListing.name.surname }}</option>
                      </select>
                  </td>
                </ng-container>
            </tr>
            <tr *ngFor="let student of  loadedTimetable.students">
                <td>
                    <button class="input__button input__length--veryshort" (click)="deleteStudent(student.id)" [tooltip]="'Delete ' + student.name.forename"><img src="../../../assets/icons/cross.png" alt="Delete"></button>
                </td>
                <td>{{ student.name.forename }}</td>
                <td>{{ student.name.surname }}</td>
                <td>{{ student?.email }}</td>
                <td *ngIf="loadedTimetable.classes.length > 0">
                    <select class="input__select input__length--medium" (change)="modifyClassTeacher(student.id, $event)">
                        <option value="{{ class.id }}" *ngFor="let class of loadedTimetable.classes" [selected]="class.id === student.classId">{{ class.teacher }}</option>
                    </select>
                </td>
                <td *ngFor="let restriction of loadedTimetable.restrictions">
                    <select class="input__select input__length--short" (change)="modifyDataValue(student, restriction.id, $event)">
                        <option value="{{ option.id }}" *ngFor="let option of restriction.options" [selected]="getStudentRestrictionData(student, restriction).id === option.id">{{ option.value }}</option>
                    </select>
                </td>

                <ng-container *ngIf="loadedTimetable.sortMethod === 0">
                  <td *ngFor="let course of getOptionalUnits(); let priority = index">
                      <select class="input__select input__length--medium" (change)="changeCoursePriority(student, priority + 1, $event)">
                          <option value="{{ course.id }}" *ngFor="let course of getOptionalUnits(); let i = index" [selected]="getStudentPriorityData(student, priority + 1) === course.id">{{ course.name }}</option>
                      </select>
                  </td>
                </ng-container>

                <ng-container *ngIf="loadedTimetable.sortMethod === 1">
                  <td *ngFor="let stud of getStudentPriorityList(loadedTimetable.studentPriorityCount); let priority = index">
                      <select class="input__select input__length--medium" (change)="changeStudentPriority(student, priority + 1, $event)">
                          <option value="-1">-- No Preference --</option>
                          <option value="{{ studentListing.id }}" *ngFor="let studentListing of loadedTimetable.students; let i = index" [selected]="getStudentStudentPriorityData(student, priority + 1) === studentListing.id" [disabled]="alreadySelected(student, studentListing.id) || studentListing.id === student.id">{{ studentListing.name.forename }} {{ studentListing.name.surname }}</option>
                      </select>
                  </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>
