.ttsettings {

  padding: .5rem 1rem;
  width: max-content;

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__text {
    color: white;
    margin-bottom: 1rem;
    background-color: maroon;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }

  &__timetable {
    padding: .5rem 1rem;
    margin-top: -1rem;
    margin-bottom: .5rem;

    select {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__select {

    border-radius: .5rem;
    background-color: rgba(lightgray, .5);
    overflow: hidden;

    &:not(:last-of-type) {
      margin-bottom: .5rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
  }

  &__courses {
    border: none;
    border-collapse: collapse;
    margin-bottom: 1rem;
    padding: 1rem 2rem;

    tr {
      margin-bottom: .5rem;

      td, th {
        padding: .3rem .5rem;
        text-align: center;
      }

      th {
        font-size: 1.2rem;
      }

      td {
        font-size: 1rem;
      }
    }

    &--buttons, &--info {
      padding: .5rem 1rem;
    }

    &--info {
      font-size: 1.2rem;
    }

  }


}
