.ttsettings {

  padding: .5rem 1rem;
  width: max-content;

  background-color: rgba(#67BBF0, .6);
  border-radius: 1rem;
  transition: all .2s;

  &:hover {
    background-color: #67BBF0;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
  }

  &__text {
    color: white;
    margin-bottom: 1rem;
    background-color:#4E82A3;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }

  &__timetable {
    padding: .5rem 1rem;
    margin-top: -1rem;
    margin-bottom: .5rem;

    select {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: .5rem;
  }

  &__select {

    border-radius: .5rem;
    background-color: rgba(lightgray, .5);
    overflow: hidden;
    width: max-content;
    transition: all .2s;

    &:not(:last-of-type) {
      margin-bottom: .5rem;
    }

    &:hover {
      filter: brightness(1.1);
      box-shadow: .1rem 0 .2rem rgba(black, .5);
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-left: 1rem;

    button {
      &:first-of-type { margin-top: 0rem; }
      &:last-of-type { margin-bottom: 1rem; }
      margin: .5rem 1rem .5rem 1rem;
    }
  }

  &__rooms {
    width: max-content;
  }

  &__courses, &__rooms {
    border: none;
    border-collapse: collapse;
    margin-bottom: 1rem;
    padding: 1rem 2rem;

    tr {
      margin-bottom: .5rem;

      td, th {
        padding: .3rem .5rem;
        text-align: center;
      }

      th {
        font-size: 1.2rem;
      }

      td {
        font-size: 1rem;
      }
    }

    &--buttons, &--info {
      padding: .5rem 1rem;
    }

    &--info {
      font-size: 1.2rem;
    }

  }


}
