<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="ttsettings__chooseTimetable" *ngIf="timetableSelectionScreen">
  <div class="ttsettings__chooseTimetable--backdrop" (click)="timetableSelectionScreenToggle(false)"></div>
  <div class="ttsettings__chooseTimetable--data">
    <div class="ttsettings__chooseTimetable--title">
      <div class="ttsettings__chooseTimetable--text">Choose your timetable from the choices below:</div>
      <button class="input__button input__length--veryshort" (click)="timetableSelectionScreenToggle(false)">X</button>
    </div>

    <table>
      <tr>
        <th colspan="4">Students who got their nth choice (%)</th>
        <th rowspan="2">Students who got their 1st or 2nd choice (%)</th>
        <th rowspan="2">Students who missed out on their 1st <b>and</b> 2nd choice</th>
        <th rowspan="2">Students missing a block</th>
        <th rowspan="2">Select</th>
      </tr>
      <tr>
        <th>1st</th>
        <th>2nd</th>
        <th>3rd</th>
        <th>4th</th>
      </tr>
      <tr *ngFor="let data of timetableSelectionData.statistics">
        <td>{{ data.stats.one | number:'0.0-0' }} %</td>
        <td>{{ data.stats.two | number:'0.0-0' }} %</td>
        <td>{{ data.stats.three | number:'0.0-0' }} %</td>
        <td>{{ data.stats.four | number:'0.0-0' }} %</td>
        <td>{{ data.stats.oneTwo | number:'0.0-0' }} %</td>
        <td>{{ data.stats.missed | number:'0.0-0' }}</td>
        <td>{{ data.stats.unplaced | number:'0.0-0' }}</td>
        <td><button class="input__button" (click)="chooseTimetable(data.index)">Choose This</button></td>
      </tr>
    </table>
  </div>
</div>

<div class="ttsettings">
  <div class="ttsettings__title">Settings</div>

  <div class="ttsettings__flex">

    <div class="ttsettings__flex--col">
      <div class="ttsettings__select">
        <div class="ttsettings__text">Timetable</div>
        <div class="ttsettings__timetable">
          <select class="input__select input__length--long" (change)="selectTimetable($event)">
            <option value="" disabled selected>Select Timetable</option>
            <option value="{{ timetable.id }}" *ngFor="let timetable of timetables" [selected]="loadedTimetable.id === timetable.id">{{ timetable.name }}</option>
          </select>
        </div>
      </div>

      <div class="ttsettings__select" *ngIf="loadedTimetable">
        <div class="ttsettings__text">Rename Timetable</div>
        <div class="ttsettings__timetable">
          <input type="text" class="input__text input__length--full" [(ngModel)]="loadedTimetable.name">
        </div>
      </div>
    </div>

    <div class="ttsettings__select ttsettings__buttons ttsettings__buttons--action">
      <div class="ttsettings__text">Actions</div>
      <button class="input__button input__length--medium" (click)="addTimeBlock()" *ngIf="loadedTimetable">Add Timeblock</button>
      <button class="input__button input__length--medium" (click)="createNewTimetable()">New</button>
      <button class="input__button input__length--medium" (click)="createDuplicateTimetable()" *ngIf="loadedTimetable">Duplicate</button>
      <button class="input__button input__length--medium" (click)="deleteTimetable()" *ngIf="loadedTimetable">Delete</button>
    </div>
  </div>

  <div class="ttsettings__select" *ngIf="loadedTimetable">
    <div class="ttsettings__text">Courses</div>

    <table class="ttsettings__courses">
      <tr>
        <th>Name</th>
        <th>Required</th>
        <th>Times</th>
        <th>Max Class Size</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let course of loadedTimetable.courses">
        <td><input type="text" class="input__text input__length--medium" [(ngModel)]="course.name" placeholder="Name of Course" (blur)="editCourse(true)" (keyup)="editCourse(false, $event)"></td>
        <td><input type="checkbox" [(ngModel)]="course.requirement.required" (change)="changeRequired(course.id, $event)"></td>
        <td><input type="text" class="input__text input__length--short" [(ngModel)]="course.requirement.times"></td>
        <td><input type="text" class="input__text input__length--short" [(ngModel)]="course.classSize"></td>
        <td><button class="input__button input__length--veryshort" (click)="deleteCourse(course.id)">X</button></td>
      </tr>
    </table>

    <div class="ttsettings__courses--buttons">
      <button class="input__button" (click)="addCourse()">Add Course</button>
    </div>

    <div class="ttsettings__courses--info">
      <!-- <div class="ttsettings__currentCourses">You currently have students taking {{ calculateBlocksRequired() }} / {{ loadedTimetable.schedule.blocks.length }} blocks.</div> -->
    </div>
  </div>

  <div class="ttsettings__flex">

    <div class="ttsettings__select" *ngIf="loadedTimetable">
      <div class="ttsettings__text">Rooms</div>

      <table class="ttsettings__rooms">
        <tr>
          <th>Room</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let room of loadedTimetable.rooms">
          <td><input type="text" class="input__text input__length--medium" [(ngModel)]="room.name" placeholder="Name of Room"></td>
          <td><button class="input__button input__length--veryshort" (click)="deleteRoom(room.id)">X</button></td>
        </tr>
      </table>

      <div class="ttsettings__courses--buttons">
        <button class="input__button" (click)="addRoom()">Add Room</button>
      </div>
    </div>

    <div class="ttsettings__select" *ngIf="loadedTimetable">
      <div class="ttsettings__text">Classes</div>

      <table class="ttsettings__rooms">
        <tr>
          <th>Class Teacher</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let class of loadedTimetable.classes">
          <td><input type="text" class="input__text input__length--medium" [(ngModel)]="class.teacher" placeholder="Name of Teacher"></td>
          <td><button class="input__button input__length--veryshort" (click)="deleteClass(class.id)">X</button></td>
        </tr>
      </table>

      <div class="ttsettings__courses--buttons">
        <button class="input__button" (click)="addClass()">Add Class</button>
      </div>
    </div>

  </div>

  <div class="ttsettings__select ttsettings__buttons" *ngIf="loadedTimetable">
    <div class="ttsettings__text">Controls</div>
    <div class="ttsettings__buttons--row">
      <button class="input__button input__length--medium" (click)="print()">Print</button>
      <button class="input__button input__length--medium" (click)="studentEditMode(0)">Student/Edit Mode</button>
    </div>
    <div class="ttsettings__buttons--row">
      <button class="input__button input__length--medium" (click)="save()" [disabled]="saveButtonDisabled()">Save</button>
      <button class="input__button input__length--medium" (click)="run()">{{ !selectionData ? 'Process' : 'Reprocess' }}</button>
    </div>
    <div class="ttsettings__buttons--row">
      <button class="input__button input__length--medium" (click)="timetableSelectionScreenToggle(true)" *ngIf="timetableSelectionData">Options</button>
    </div>
  </div>

</div>
