<div class="ttsettings__chooseTimetable" *ngIf="timetableSelectionScreen">
  <div class="ttsettings__chooseTimetable--backdrop" (click)="timetableSelectionScreenToggle(false)"></div>
  <div class="ttsettings__chooseTimetable--data">
    <div class="ttsettings__chooseTimetable--title">
      <div class="ttsettings__chooseTimetable--text">Choose your timetable from the choices below:</div>
      <button class="input__button input__length--veryshort" (click)="timetableSelectionScreenToggle(false)">X</button>
    </div>

    <table>
      <tr>
        <th [ngStyle]="{'width': '5rem'}" [attr.colspan]="timetableSelectionData.statistics[0].stats.prioritySatisfied.length">Students who got their nth choice (%)</th>
        <th rowspan="2"># who got their 1st or 2nd choice (%)</th>
        <th rowspan="2">Missed their 1st and 2nd choice</th>
        <th rowspan="2">Students missing a block</th>
        <th rowspan="2">Students missing required</th>
        <th rowspan="2">Select</th>
      </tr>
      <tr>
        <th [ngStyle]="{'width': '5rem'}" *ngFor="let priority of timetableSelectionData.statistics[0].stats.prioritySatisfied; let i = index">{{ i + 1 | ordinal }}</th>
      </tr>
      <tr *ngFor="let data of timetableSelectionData.statistics">
        <td *ngFor="let priority of data.stats.prioritySatisfied">{{ (priority / loadedTimetable.students.length) * 100 | number:'0.0-0' }} %</td>
        <td>{{ (data.stats.priorityOneOrTwo / loadedTimetable.students.length) * 100 | number:'0.0-0' }} %</td>
        <td>{{ getStudentNamesFromArray(data.stats.nonOneOrTwo) }}</td>
        <td>{{ data.stats.unplaced }}</td>
        <td>{{ getStudentNamesFromArray(data.stats.notAllRequired) }}</td>
        <td><button class="input__button input__length--small" (click)="chooseTimetable(data.index)">Select</button></td>
      </tr>
    </table>
  </div>
</div>

<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div class="ttsettings">


  <div class="ttsettings__title">
    <p>Settings</p>
    <input type="text" class="input__text input__length--long" [(ngModel)]="loadedTimetable.name">
  </div>

  <!-- <div class="ttsettings__flex">

    <div class="ttsettings__flex--col">

      <div class="ttsettings__select" *ngIf="loadedTimetable">
        <div class="ttsettings__text">Rename Timetable</div>
        <div class="ttsettings__timetable">
        </div>
      </div>
    </div>
  </div> -->

  <div class="ttsettings__select ttsettings__buttons" *ngIf="loadedTimetable">
    <div class="ttsettings__text">Controls</div>
    <div class="ttsettings__buttons--row">
      <button class="input__button input__length--medium" (click)="print()">Print</button>
      <button class="input__button input__length--medium" (click)="studentEditMode(0)">{{ studentViewMode ? 'Edit' : 'Student' }} Mode</button>
      <button class="input__button input__length--medium" (click)="save()" [disabled]="saveButtonDisabled()">Save</button>
    </div>
    <div class="ttsettings__buttons--row">
      <button class="input__button input__length--medium" (click)="run()" [disabled]="loadedTimetable.students.length === 0 || loadedTimetable.schedule.blocks.length === 0">{{ !selectionData ? 'Process' : 'Reprocess' }}</button>
      <button class="input__button input__length--medium" (click)="timetableSelectionScreenToggle(true)" [disabled]="timetableSelectionData === null">Options</button>
      <button class="input__button input__length--medium" (click)="addTimeBlock()" *ngIf="loadedTimetable">Add Timeblock</button>
    </div>
  </div>

  <div class="ttsettings__select" *ngIf="loadedTimetable && studentViewMode">
    <div class="ttsettings__text">Stats</div>

    <div *ngIf="loadedTimetable.schedule.scores">
      <div class="ttsettings__stats--bar">
        <div class="ttsettings__stats--bar--title ttsettings__stats--bar--title--long">Students</div>
        <div class="ttsettings__stats--bar--text">{{ loadedTimetable.students.length }} students</div>
      </div>
      <div class="ttsettings__stats--bar">
        <div class="ttsettings__stats--bar--title ttsettings__stats--bar--title--long">Missing 1st or 2nd</div>
        <div class="ttsettings__stats--bar--text">{{ loadedTimetable.schedule.scores.nonOneOrTwo.length }} students</div>
      </div>

      <div class="ttsettings__stats--bar ttsettings__stats--bar--list" *ngIf="loadedTimetable.schedule.scores.nonOneOrTwo.length > 0">
        <div class="ttsettings__stats--bar--student" *ngFor="let student of loadedTimetable.schedule.scores.nonOneOrTwo">
          <div class="ttsettings__stats--bar--student--name" (click)="studentEditMode(1, student)">{{ getStudentNamesFromArray([student]) }}</div>
          <div class="ttsettings__stats--bar--student--remove" (click)="removeFromNonOneOrTwo(student)">x</div>
        </div>
      </div>

      <div class="ttsettings__stats--bar">
        <div class="ttsettings__stats--bar--title ttsettings__stats--bar--title--long">Missing Required</div>
        <div class="ttsettings__stats--bar--text">{{ loadedTimetable.schedule.scores.notAllRequired.length }} students</div>
      </div>

      <div class="ttsettings__stats--bar ttsettings__stats--bar--list" *ngIf="loadedTimetable.schedule.scores.notAllRequired.length > 0">
        <div class="ttsettings__stats--bar--student" *ngFor="let student of loadedTimetable.schedule.scores.notAllRequired">
          <div class="ttsettings__stats--bar--student--name" (click)="studentEditMode(1, student)">{{ getStudentNamesFromArray([student]) }}</div>
          <div class="ttsettings__stats--bar--student--remove" (click)="removeFromNotAllRequired(student)">x</div>
        </div>
      </div>

      <div class="ttsettings__stats--bar" *ngFor="let choice of loadedTimetable.schedule.scores.prioritySatisfied; let i = index">
        <div class="ttsettings__stats--bar--title">Priority {{ i + 1 }}</div>
        <div class="ttsettings__stats--bar--bar" [ngStyle]="{'background-image': 'repeating-linear-gradient(to right, blue 0%, lightblue ' + (choice/loadedTimetable.students.length)*100 + '%, darkgray ' + (choice/loadedTimetable.students.length)*100 + '%, darkgray 100%)'}">
          <div class="ttsettings__stats--bar--percentage">{{ (choice/loadedTimetable.students.length)*100 | number:"1.2-2" }}%</div>
        </div>
      </div>
    </div>
  </div>

  <div class="ttsettings__select" *ngIf="loadedTimetable && !studentViewMode">
    <div class="ttsettings__text">Courses</div>

    <table class="ttsettings__courses">
      <tr>
        <th>Name</th>
        <th [tooltip]="'Is this a required coure?'">Required</th>
        <th [tooltip]="'How many times the students is required to take this course'">Times</th>
        <th [tooltip]="'How many students can be placed in one block (can be overridden in the block view)'">Max Class Size</th>
        <th [tooltip]="'Delete this course'">Delete</th>
      </tr>
      <tr *ngFor="let course of loadedTimetable.courses">
        <td><input type="text" class="input__text input__length--medium" [(ngModel)]="course.name" placeholder="Name of Course" (blur)="editCourse(true)" (keyup)="editCourse(false, $event)"></td>
        <td><input type="checkbox" [(ngModel)]="course.requirement.required" (change)="changeRequired(course.id, $event)"></td>
        <td><input type="text" class="input__text input__length--short" [(ngModel)]="course.requirement.times"></td>
        <td><input type="text" class="input__text input__length--short" [(ngModel)]="course.classSize"></td>
        <td><button class="input__button input__length--veryshort" (click)="deleteCourse(course.id)">X</button></td>
      </tr>
    </table>

    <div class="ttsettings__courses--buttons">
      <button class="input__button" (click)="addCourse()">Add Course</button>
    </div>

    <div class="ttsettings__courses--info">
      <!-- <div class="ttsettings__currentCourses">You currently have students taking {{ calculateBlocksRequired() }} / {{ loadedTimetable.schedule.blocks.length }} blocks.</div> -->
    </div>
  </div>

  <div class="ttsettings__flex" *ngIf="!studentViewMode">

    <div class="ttsettings__select" *ngIf="loadedTimetable">
      <div class="ttsettings__text">Rooms</div>

      <table class="ttsettings__rooms">
        <tr>
          <th>Room</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let room of loadedTimetable.rooms">
          <td><input type="text" class="input__text input__length--medium" [(ngModel)]="room.name" placeholder="Name of Room"></td>
          <td><button class="input__button input__length--veryshort" (click)="deleteRoom(room.id)">X</button></td>
        </tr>
      </table>

      <div class="ttsettings__courses--buttons">
        <button class="input__button" (click)="addRoom()">Add Room</button>
      </div>
    </div>

    <div class="ttsettings__select" *ngIf="loadedTimetable">
      <div class="ttsettings__text">Classes</div>

      <table class="ttsettings__rooms">
        <tr>
          <th>Class Teacher</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let class of loadedTimetable.classes">
          <td><input type="text" class="input__text input__length--medium" [(ngModel)]="class.teacher" placeholder="Name of Teacher"></td>
          <td><button class="input__button input__length--veryshort" (click)="deleteClass(class.id)">X</button></td>
        </tr>
      </table>

      <div class="ttsettings__courses--buttons">
        <button class="input__button" (click)="addClass()">Add Class</button>
      </div>
    </div>

  </div>

</div>
