<div class="selectType">
    <div class="selectType__button" (click)="createTimetable(0)">Make a timetble where you give students choices of what courses they want to take</div>
    <div class="selectType__button" (click)="createTimetable(1)">Make a timetable where you want to give students a choice of who they want to work with</div>
    <div class="selectType__button" (click)="createTimetable(2)">Make a timetable where you want to both give students options for who they work with and what they do</div>
</div>