<div class="buildtt">

  <app-loading-spinner *ngIf="loading"></app-loading-spinner>

  <div class="buildtt__settings">
    <app-timetable-settings [timetables]="timetables" [selectionData]="timetableSelectionData" (triggerOptions)="timetableSelectionScreenToggle()" (triggerRun)="run()" (triggerSave)="save()" (currentTimetableChange)="timetableSettingsChange($event)" (selectedTimetable)="selectTimetable($event)"></app-timetable-settings>
  </div>
  <div class="buildtt__display">

    <div class="buildtt__info" *ngIf="copyData">
      <p *ngIf="copyData">Press ESCAPE to quit copy mode</p>
    </div>

    <div class="buildtt__chooseTimetable" *ngIf="timetableSelectionScreen">
      <div class="buildtt__chooseTimetable--backdrop" (click)="timetableSelectionScreenToggle()"></div>
      <div class="buildtt__chooseTimetable--data">
        <div class="buildtt__chooseTimetable--title">
          <div class="buildtt__chooseTimetable--text">Choose your timetable from the choices below:</div>
          <button class="input__button input__length--veryshort" (click)="timetableSelectionScreenToggle()">X</button>
        </div>

        <table>
          <tr>
            <th colspan="4">Students who got their nth choice (%)</th>
            <th rowspan="2">Students who got their 1st or 2nd choice (%)</th>
            <th rowspan="2">Students who missed out on their 1st <b>and</b> 2nd choice</th>
            <th rowspan="2">Students missing a block</th>
            <th rowspan="2">Select</th>
          </tr>
          <tr>
            <th>1st</th>
            <th>2nd</th>
            <th>3rd</th>
            <th>4th</th>
          </tr>
          <tr *ngFor="let data of timetableSelectionData.statistics">
            <td>{{ data.stats.one | number:'0.0-0' }} %</td>
            <td>{{ data.stats.two | number:'0.0-0' }} %</td>
            <td>{{ data.stats.three | number:'0.0-0' }} %</td>
            <td>{{ data.stats.four | number:'0.0-0' }} %</td>
            <td>{{ data.stats.oneTwo | number:'0.0-0' }} %</td>
            <td>{{ data.stats.missed | number:'0.0-0' }}</td>
            <td>{{ data.stats.unplaced | number:'0.0-0' }}</td>
            <td><button class="input__button" (click)="chooseTimetable(data.index)">Choose This</button></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="buildtt__tt" *ngIf="loadedTimetable">

      <div class="buildtt__col buildtt__col--narrow">
        <div class="buildtt__block buildtt__block--short buildtt__switch" (click)="toggleStudentView()">{{ studentView ? 'Student Mode' : 'Edit Mode' }}</div>
        <div class="buildtt__block buildtt__block--short buildtt__switch" (click)="toggleStudentView()">Student Data</div>
        <div class="buildtt__block buildtt__block--title buildtt__block--normal" *ngFor="let class of loadedTimetable.classes">
          {{ class.teacher }}
        </div>
      </div>

      <!-- and then the blocks -->
      <div class="buildtt__col buildtt__col--normal" *ngFor="let timeBlock of loadedTimetable.schedule.blocks; let g = index">
        <!-- title -->
        <div class="buildtt__block buildtt__block--short">{{ timeBlock.name }} ({{ getStudentsInTimeBlock(g) }})</div>
        <div class="buildtt__block buildtt__block--short buildtt__block--students">
          <div class="buildtt__block--student" *ngFor="let student of getMissingStudentData(timeBlock.order)" [class.buildtt__block--student--highlight]="highlightedStudent === student.id" (click)="highlightStudent(student.id)">{{ student.name.forename }} {{ student.name.surname }}</div>
        </div>
        <!-- blocks -->
        <div class="buildtt__block buildtt__block--block buildtt__block--normal" *ngFor="let block of timeBlock.blocks">

          <div class="buildtt__paste" *ngIf="copyData">
            <img src="../../../assets/icons/paste.png" alt="Paste the data here" (click)="pasteData(block.id)">
          </div>

          <div class="buildtt__block--name">
            <p>{{ block.name }} ({{ block.students.length }})</p>
            <img src="../../../assets/icons/copy.png" alt="Copy this blocks data" (click)="toggleCopyDataOn(block.id)">
          </div>
          <div class="buildtt__block--room">{{ block.room }}</div>

          <div class="buildtt__block--buttons" *ngIf="!studentView">
            <div class="buildtt__block--button" [class.buildtt__block--button--selected]="block.classOnly" (click)="setClassOnly(block.id)">All students of {{ getTeacherFromClassID(block.classId) }}</div>

            <!-- <div class="buildtt__block--textInput">
              <div class="buildtt__block--textInput--text">Max Pupils</div>
              <div class="buildtt__block--textInput--input">
                <input class="input__text input__length--short" [(ngModel)]="block.maxStudents">
              </div>
            </div> -->
          </div>

          <div class="buildtt__block--data" *ngIf="!block.classOnly && !studentView">


            <select class="input__select input__length--full" (change)="selectBlockProperty(block.id, $event)">
              <option value="" disabled selected>Build Course Requirements</option>
              <option value="" disabled>Add Courses</option>
              <option value="0,{{ course.id }}" *ngFor="let course of loadedTimetable.courses">{{ course.name }}</option>
              <option value="" disabled>Add Restrictions to this block</option>
              <option value="1,{{ restriction.id }}" *ngFor="let restriction of loadedTimetable.restrictions">{{ restriction.name }}</option>
            </select>
<!--
            <select class="input__select input__length--long" (change)="selectCourse(block.id, $event)">
              <option value="" disabled selected>Add Courses</option>
              <option value="{{ course.id }}" *ngFor="let course of loadedTimetable.courses">{{ course.name }}</option>
            </select>

            <select class="input__select input__length--long" (change)="selectRestriction(block.id, $event)">
              <option value="" disabled selected>Add Restrictions to this block</option>
              <option value="{{ restriction.id }}" *ngFor="let restriction of loadedTimetable.restrictions">{{ restriction.name }}</option>
            </select> -->

            <div class="buildtt__block--courses">
              <div class="buildtt__block--course" *ngFor="let course of block.courses">
                <div class="buildtt__block--course--name">{{ getCourseNameFromId(course) }}</div>
                <button class="input__button input__length--veryshort" (click)="removeCourseFromBlock(block.id, course)">X</button>
              </div>
            </div>

            <div class="buildtt__block--restrictions">
              <div class="buildtt__block--course" *ngFor="let restriction of block.restrictions">
                <div class="buildtt__block--course--name">{{ getRestrictionNameFromId(restriction.restrictionId) }}</div>
                <select class="input__select input__length--medium" (click)="changeBlockRestrictionOption(block.id, restriction.restrictionId, $event)">
                  <option value="{{ option.id }}" *ngFor="let option of getRestrictionOptions(restriction.restrictionId)" [selected]="option.id === restriction.optionId">{{ option.value }}</option>
                </select>
                <button class="input__button input__length--veryshort" (click)="removeRestrictionFromBlock(block.id, restriction.restrictionId)">X</button>
              </div>
            </div>

          </div>

          <div class="buildtt__block--students" *ngIf="studentView">
            <div class="buildtt__block--student" *ngFor="let student of getStudentData(block.id)" [class.buildtt__block--student--prio]="block.courses[0] === getStudentPriority(student.id)" [class.buildtt__block--student--highlight]="highlightedStudent === student.id" (click)="highlightStudent(student.id)">{{ student.name.forename }} {{ student.name.surname }}</div><!-- ({{ student.id }}) - ({{ getTopPriorityClass(student.id) }})</div> -->
          </div>
      </div>

    </div>

  </div>
</div>
