<div class="start">

  <div class="start__left">
    <div class="start__title">PE Scheduler</div>
    <div class="start__window">
      <router-outlet></router-outlet>
    </div>
    <div class="start__registerDesc">
      To gain access to the scheduler, please <a routerLink="/front/register">fill in this form</a> and I will respond to you within 48 hours. The base cost is $495 per year per institution, though negotiable for longer timeframes.
    </div>
  </div>

  <div class="start__right">
    <div class="start__video">
      <video src="../../assets/video/reportzone_intro_lowres.mp4"></video>
    </div>
  </div>

</div>
