<div class="start">

  <div class="start__left">
    <div class="start__title">
      <img src="../../assets/logo.png" alt="SmartSort Logo">
    </div>
    <div class="start__window">
      <router-outlet></router-outlet>
    </div>
    <div class="start__registerDesc">
      <a routerLink="/message">Message Me</a>, <a routerLink="/register">Register Interest</a>, <a routerLink="/login">Login</a>, <a routerLink="/mailinglist">Join Mailing List</a>.
    </div>
  </div>

  <div class="start__right">
    <div class="start__video">
      <video src="../../assets/video/reportzone_intro_lowres.mp4"></video>
    </div>
  </div>

</div>
