<div class="start">

  <div class="start__left">
    <div class="start__title">
      <img src="../../assets/logo.png" alt="SmartSort Logo">
    </div>
    <div class="start__window">
      <router-outlet></router-outlet>
    </div>
    <div class="start__registerDesc">
      <a routerLink="/message">Message Me</a>, <a routerLink="/register">Register Interest</a>, <a routerLink="/login">Login</a>, <a routerLink="/mailinglist">Join Mailing List</a>.
    </div>
  </div>

  <div class="start__right">
    <div class="start__video">
      <iframe src="https://www.youtube-nocookie.com/embed/BS6_vDfA_Ec?si=g8xEPViG9Di27aNI&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>

</div>
